body {
background-color: rgba(56, 142, 227, 0.726);
border: solid 5px black;
margin: 0px;
}

header{
    text-align: center;
    border-bottom: solid 3px slategray;
    padding: 15px;
    font-size: medium;
}

h1{
    text-align: center;
}

.roxo {
    width: 50%;
}

elemente.style {
margin: 80px;
}

section{
    padding-bottom: 50px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

section {
    display: block;
    unicode-bidi: isolate;

    }