body {
background-color: rgba(56, 142, 227, 0.726);
border: solid 2px black;
margin: 2px;
}

header{
    text-align: center;
    border-bottom: slategray;
    padding: 15px;
    font-size: medium;
}

h1{
    text-align: center;
}

.roxo {
    width: 50%;
}